/*--------------------------------*- C++ -*----------------------------------*\
  =========                 |
  \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox
   \\    /   O peration     | Website:  https://openfoam.org
    \\  /    A nd           | Version:  7
     \\/     M anipulation  |
\*---------------------------------------------------------------------------*/
FoamFile
{
    version     2.0;
    format      ascii;
    class       volScalarField;
    location    "0";
    object      nut;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

dimensions      [0 2 -1 0 0 0 0];

internalField   uniform 0;

boundaryField
{

    "room_wall_.*"
    {
        type            nutkWallFunction;
        value           uniform 0;
    }

    "raised_floor_.*"
    {
        type            nutkWallFunction;
        value           uniform 0;
    }

    "opening_raised_floor_.*"
    {
        type           cyclic;
    }

    "false_ceiling_.*"
    {
        type            nutkWallFunction;
        value           uniform 0;
    }

    "opening_false_ceiling_.*"
    {
        type           cyclic;
    }

    "box_.*"
    {
        type            nutkWallFunction;
        value           uniform 0;
    }

    "opening_box_.*"
    {
        type           cyclic;
    }

    "acu_wall_.*"
    {
        type            nutkWallFunction;
        value           uniform 0;
    }

    "acu_supply_.*"
    {
        type            calculated;
        value           $internalField;
    }

    "acu_return_.*"
    {
        type            calculated;
        value           $internalField;
    }

    "heat_emitting_box_wall_.*"
    {
        type            nutkWallFunction;
        value           uniform 0;
    }
    
    "heat_emitting_box_supply_.*"
    {
        type            calculated;
        value           $internalField;
    }

    "heat_emitting_box_return_.*"
    {
        type            calculated;
        value           $internalField;
    }

    "rack_wall_.*"
    {
        type            nutkWallFunction;
        value           uniform 0;
    }

    "rack_cyclic_.*"
    {
        type            cyclic;
    }

    "rack_air_leak_.*"
    {
        type           cyclic;
    }

    "server_inlet_.*"
    {
        type            calculated;
        value           $internalField;
    }

    "server_outlet_.*"
    {
        type            calculated;
        value           $internalField;
    }

}

// ************************************************************************* //
