/*--------------------------------*- C++ -*----------------------------------*\
  =========                 |
  \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox
   \\    /   O peration     | Website:  https://openfoam.org
    \\  /    A nd           | Version:  7
     \\/     M anipulation  |
\*---------------------------------------------------------------------------*/
FoamFile
{
    version     2.0;
    format      ascii;
    class       volScalarField;
    location    "0";
    object      epsilon;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

dimensions      [0 2 -3 0 0 0 0];

internalField   uniform {{ acu_epsilon }};

boundaryField
{
    "room_wall_.*"
    {
        type            epsilonWallFunction;
        value           uniform {{ acu_epsilon }};
    }

    "pillar_.*"
    {
        type            epsilonWallFunction;
        value           uniform {{ acu_epsilon }};
    }


    "floor_.*"
    {
        type            epsilonWallFunction;
        value           uniform {{ acu_epsilon }};
    }

    "ceiling_.*"
    {
        type            epsilonWallFunction;
        value           uniform {{ acu_epsilon }};
    }

    "box_.*"
    {
        type            epsilonWallFunction;
        value           uniform {{ acu_epsilon }};
    }

    "partition_wall_.*"
    {
        type            epsilonWallFunction;
        value           uniform {{ acu_epsilon }};
    }

    "acu_supply_.*"
    {
        type            fixedValue;
        value           uniform {{ acu_epsilon }};
    }

    "acu_return_.*"
    {
        type            zeroGradient;
    }

    "acu_wall_.*"
    {
        type            epsilonWallFunction;
        value           uniform {{ acu_epsilon }};
    }

    "rack_wall_.*"
    {
        type            epsilonWallFunction;
        value           uniform {{ acu_epsilon }};
    }

    "rack_panel_.*"
    {
        type            epsilonWallFunction;
        value           uniform {{ acu_epsilon }};
    }

    "server_wall_.*"
    {
        type            epsilonWallFunction;
        value           uniform {{ acu_epsilon }};
    }

    "server_inlet_.*"
    {
        type            zeroGradient;
    }

    "server_outlet_.*"
    {
        type            fixedValue;
        value           uniform {{ server_epsilon }};
    }
}

// ************************************************************************* //
