/*--------------------------------*- C++ -*----------------------------------*\
|       o          |                                                          |
|    o     o       | HELYX-OS                                                 |
|   o   O   o      | Version: v2.4.0                                          |
|    o     o       | Web:     http://www.engys.com                            |
|       o          |                                                          |
\*---------------------------------------------------------------------------*/
FoamFile
{
    version 2.0;
    format ascii;
    class dictionary;
    location system;
    object snappyHexMeshDict;
}

castellatedMesh true;
snap true;
addLayers false;
geometry
{
    {% for mesh in mesh_list %}
    {{ mesh.name + '.stl' }}
    {
        type triSurfaceMesh;
        name {{ mesh.name }};
        appendRegionName false;
    }
    {% endfor %}
}

castellatedMeshControls
{
    features
    ({% for mesh in mesh_list %}
        {
            file 	 "{{ mesh.name }}.eMesh";
            level    {{ mesh.level }};
        }{% endfor %}
    );

    refinementSurfaces
    {
    {% for mesh in mesh_list %}
        {{ mesh.name }}
        {
            level {{ mesh.refine_level }};
            patchInfo
            {
                type {{ mesh.type }};
            }
        {% if mesh.face_type %}
            faceZone {{ mesh.name }};
            faceType {{ mesh.face_type }};
        {% endif %}
        }
    {% endfor %}
    }

    refinementRegions
    {
    }

    locationInMesh ( {{ location.x }} {{ location.y }} {{ location.z }} );
    maxLocalCells 8000000;
    maxGlobalCells 24000000;
    minRefinementCells 0;
    nCellsBetweenLevels 1;
    resolveFeatureAngle 30.0;
    allowFreeStandingZoneFaces true;
    planarAngle 30.0;
    maxLoadUnbalance 0.1;
}

snapControls
{
    nSolveIter 30;
    nSmoothPatch 3;
    tolerance 2.0;
    nRelaxIter 5;
    nFeatureSnapIter 10;
    implicitFeatureSnap false;
    explicitFeatureSnap true;
    multiRegionFeatureSnap false;
}

addLayersControls
{
    layers
    {
    }

    relativeSizes true;
    expansionRatio 1.0;
    finalLayerThickness 0.3;
    minThickness 0.25;
    nGrow 0;
    featureAngle 130.0;
    slipFeatureAngle 30.0;
    nRelaxIter 5;
    nSmoothSurfaceNormals 1;
    nSmoothNormals 3;
    nSmoothThickness 10;
    maxFaceThicknessRatio 0.5;
    maxThicknessToMedialRatio 0.3;
    minMedialAxisAngle 90;
    nBufferCellsNoExtrude 0;
    nLayerIter 50;
    nRelaxedIter 20;
    writeVTK false;
    noErrors false;
    layerRecovery 1;
    growZoneLayers false;
    projectGrownUp 0.0;
}

meshQualityControls
{
    maxNonOrtho 60.0;
    maxBoundarySkewness 20;
    maxInternalSkewness 4;
    maxConcave 80.0;
    minFlatness 0.5;
    minVol 1.0E-13;
    minTetQuality 1.0E-15;
    minArea -1.0;
    minTwist 0.02;
    minDeterminant 0.001;
    minFaceWeight 0.05;
    minVolRatio 0.01;
    minTriangleTwist -1.0;
    nSmoothScale 4;
    errorReduction 0.75;
    relaxed
    {
        maxNonOrtho 60;
    }

}

debug 0;
mergeTolerance 1.0E-6;
autoBlockMesh true;
