/*--------------------------------*- C++ -*----------------------------------*\
| =========                 |                                                 |
| \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox           |
|  \\    /   O peration     | Version:  v1912                                 |
|   \\  /    A nd           | Website:  www.openfoam.com                      |
|    \\/     M anipulation  |                                                 |
\*---------------------------------------------------------------------------*/
FoamFile
{
    version     2.0;
    format      ascii;
    class       dictionary;
    location    "system";
    object      fvOptions;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

{% for key, perforated_opening in perforated_openings.items() %}
{{key}}AirDeflection
{
    type            meanVelocityForce;
    selectionMode   cellZone;
    cellZone        {{key}}CellZone;
    fields          (U);
    Ubar            ({{perforated_opening.velocity.x}} {{perforated_opening.velocity.y}} {{perforated_opening.velocity.z}});
}
{% endfor %}

// ************************************************************************* //
