    /*--------------------------------*- C++ -*----------------------------------*\
    | =========                 |                                                 |
    | \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox           |
    |  \\    /   O peration     | Version:  v1912                                 |
    |   \\  /    A nd           | Website:  www.openfoam.com                      |
    |    \\/     M anipulation  |                                                 |
    \*---------------------------------------------------------------------------*/
    FoamFile
    {
        version     2.0;
        format      ascii;
        class       dictionary;
        object      topoSetDict;
    }

    // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

    actions
    (

        {% for key, opening in perforated_openings.items() %}
        {
            name    {{key}};
            type    cellSet;
            action  new;
            source  boxToCell;
            boxes
            (
            ({{opening.location.x}} {{opening.location.y}} {{min_floor_height}}) ({{opening.location.x+opening.size.x}} {{opening.location.y+opening.size.y}} {{max_floor_height}})
            );
        }
        {
            name    {{key}}CellZone;
            type    cellZoneSet;
            action  new;
            source  setToCellZone;
            set     {{key}};
        }
        {% endfor %}

    );


    // ************************************************************************* //
